
@mixin inline-block {
  display: inline-block;
  &:not(:first-of-type){
    margin-left: -4px;
  }
}
@mixin box-style {
  border: 2px solid black;
  box-shadow: 0 0 5px 10px rgba(0,0,0, .5);
  border-radius: 10px;
  position: relative;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
img {
  max-width: 100%;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
}
.display{
  @include inline-block;
  @include box-style;
  width: 45%;
  padding: 10px;
  background: lighten(gray, 20%);
  text-align: center;
  &:first-of-type{
    margin-right: 10%;
  }
}
.alert{
  padding: 10px;
  color: red;
}
.stat-holder{
  width: 100%;
}
#display-holder{
  margin-bottom: 75px;
}
#game-field{
  @include box-style;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
#player{
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(0,0,0, .5);
  top: 50%;
  left: 50%;
  transition: .01s;
}
.missile{
  position: absolute;
  width: 5px;
  height: 5px;
  background: red;
  transition: .033s;
}
#game-info{
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  background: rgba(255, 255, 255, .65);
  border: 1px solid black;
  border-radius: 5px;
  z-index: 100;
  transition: .25s ease-in-out;
  display: none;
  &.show-info{
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    display: block;
  }
}

.button{
  width: 70%;
  margin: 25px 15%;
  background: black;
  color: white;
  text-align: center;
}
@mixin target( $size ) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
  content: '';
  position: absolute;
}
.target{
  @include target( 30px );
  background: red;
  border: 1px solid black;
  transition: .01s;
  &::before{
    @include target( 20px );
    background: blue;
    left: 4px;
    top: 4px;
  }
  &::after{
    @include target( 10px );
    background: white;
    top: 9px;
    left: 9px;
  }
}
.test-obj{
  position: absolute;
  height: 5px;
  width: 5px;
  background: green;
}
