<!DOCTYPE html>
<div id="game-info" class="show-info">
  <div id="start-btn" class="button">Start</div>
  <!-- <div id="how-to-play" class="button">How To Play</div>
  <div id="save-a-game" class="button">Save Game</div>
  <div id="load-a-game" class="button">Load A Game</div> -->
  <div id="unpause" class="button">Close Window</div>
</div>
